

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--theme-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.p-title {
  @apply font-rb2-b text-4md inline-block;
  
  background: linear-gradient(90deg, #FFFCFF 19.79%, #B0D566 77.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  &.theme2 {
    background: linear-gradient(90deg, #FFFCFF 19.79%, #C61FCB 77.6%);
  }
}
