.p-title {
  @apply font-rb2-b text-4md inline-block;
  
  background: linear-gradient(90deg, #FFFCFF 19.79%, #B0D566 77.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  &.theme2 {
    background: linear-gradient(90deg, #FFFCFF 19.79%, #C61FCB 77.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.pet-card {
  background-color: rgba(198, 31, 203, 0.05); 
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.icon-pet {
  width: 80px;
  height: 62px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0;

  &-cat {
    background-image: url('../assets/imgs/icon-cat.png') at-2x;
  }

  &-dog {
    background-image: url('../assets/imgs/icon-dog.png') at-2x;
  }

  &-mouse {
    background-image: url('../assets/imgs/icon-mouse.png') at-2x;
  }
}

.qrcode-btn {
  background: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  box-shadow: 0px 30px 30px rgba(69, 42, 124, 0.15);
  backdrop-filter: blur(30px);
  border-radius: 14px;
}

.pet-carousel {

  .swiper-slide {
    width: auto;
  }
}

.pet-slide {
  @apply relative overflow-hidden;
  width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;

  &:before {
    content: '';
    @apply absolute top-0 left-0 right-0;
    padding-top: 100%;
    background: linear-gradient(200.44deg, #126422 13.57%, #FFD541 98.38%);
    box-shadow: 0px 10px 30px rgba(184, 51, 154, 0.3);
    border-radius: 20px;
    transform: matrix(1, 0.07, 0, 1, 0, 0);
  }

  .pet-container {
    @apply p-4;
    z-index: 1;
    background: rgba(40, 27, 90, 0.1);
    backdrop-filter: blur(20px);
  }
  

  .pet-thumb {
    @apply bg-center bg-no-repeat;
    background-size: 100% auto; 
    
    &:after {
      content: '';
      @apply block;
      padding-top: 100%;
    }
  }
}

.stat-col {

  .stat-thumb {
    width: 300px;
    height: 300px;
    @apply bg-cover bg-no-repeat bg-center;
  }

  .stat-mouse {
    background-image: url('../assets/imgs/stat-mouse.png');
  }

  .stat-cat {
    background-image: url('../assets/imgs/stat-cat.png');
  }

  .stat-dog {
    background-image: url('../assets/imgs/stat-dog.png');
  }
}